<!DOCTYPE html>
<html lang="ar" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Admin - الرئيسية</title>
<link th:href="@{/css1/bootstrap.min1.css}" rel="stylesheet">
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet">
<link th:href="@{/css1/plugins/bootstrap-rtl/bootstrap-rtl.min.css}"
	rel="stylesheet">
<!-- Toastr style -->
<link th:href="@{/css1/plugins/toastr/toastr.min.css}" rel="stylesheet">

<!-- Gritter -->
<link th:href="@{/js1/plugins/gritter/jquery.gritter.css}"
	rel="stylesheet">

<link th:href="@{/css1/animate1.css}" rel="stylesheet">
<link th:href="@{/css1/style1.css}" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="img1/law-favicon.png">
<style>
.hide-row {
	display: none;
}

.page {
	margin-left: 2px !important;
}

.hide {
	display: none;
}

.sk-spinner {
	position: fixed;
	z-index: 99999;
	overflow: show;
	margin: auto;
	top: 45%;
	left: 0;
	bottom: 0;
	right: 0;
}

.sk-spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}
</style>
</head>

<body class="rtls">
	<div class="sk-spinner sk-spinner-wave hide">
		<div class="sk-rect1"></div>
		<div class="sk-rect2"></div>
		<div class="sk-rect3"></div>
		<div class="sk-rect4"></div>
		<div class="sk-rect5"></div>
	</div>

	<div id="wrapper">

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav metismenu" id="side-menu">

					<li class="nav-header">
						<div class="dropdown profile-element">
							<a href="#"><img alt="logo" Style="background-color: #fff"
								class="rounded-circle" src="img1/logo-site.svg" width="100"
								height="100" /></a> <a data-toggle="dropdown"
								class="dropdown-toggle" href="#"> <span
								class="block m-t-xs font-bold">[[${#request.userPrincipal.principal.firstName}]]
									[[${#request.userPrincipal.principal.lastName}]]</span> <span
								class="text-muted text-xs block">Admin<b class="caret"></b></span>
							</a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs">
								<li class="dropdown-divider"></li>
								<li><a class="dropdown-item" th:href="@{/login}">تسجيل
										الخروج</a></li>
							</ul>
						</div>
						<div class="logo-element">
							<i class="fa fa-homee"></i>
						</div>
					</li>
					<li class="active"><a th:href="@{/Admin/index}"><i
							class="fa fa-home"></i> <span class="nav-label"> الرئيسية

						</span></a></li>
						
						    <li><a th:href="@{/Admin/messages}"><i class="fa fa-envelope"></i>
							<span class="nav-label">إدارة الرسائل </span></a></li>
				
				</ul>
			</div>
		</nav>
		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div class="row border-bottom">
				<nav class="navbar navbar-static-top" role="navigation"
					style="margin-bottom: 0">
					<div class="navbar-header">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
							href="#"><i class="fa fa-bars"></i> </a>
						<form role="search" class="navbar-form-custom"
							onsubmit="search(this,event)">
							<div class="form-group">
								<input type="search" placeholder="ابحث عن شيء ما..."
									class="form-control" name="top-search" id="top-search">
							</div>
						</form>
					</div>
					<ul class="nav navbar-top-links navbar-right">

						<li><a th:href="@{/links}"> خروج<i
								class="fa fa-sign-out out"></i>
						</a></li>
					</ul>
				</nav>

			</div>
			<div class="wrapper wrapper-content animated fadeInLeft">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox">
							<div class="ibox-content">

								<h2>زبائن </h2>

								<div class="input-group">
									<input type="text" placeholder="إبحث عن زبون  باسمه العائلي "
										class="input form-control" id="ib7at" >
									<!--  <span class="input-group-append"> -->
							<a id="button-link" href="#">	<button onclick="updateUrl()" type="button" class="btn btn btn-primary"> 
										<i class="fa fa-search"></i> بحث
									</button></a>
									<!--     </span> -->
								</div>
								<div class="clients-list">
									<span class="float-left small text-muted"> زبون</span>
									<ul class="nav nav-tabs">
										<li><a class="nav-link active" data-toggle="tab"
											href="#tab-1"><i class="fa fa-user"></i> مفعل</a></li>
										<li><a class="nav-link" data-toggle="tab" href="#tab-2"><i
												class="fa fa-lock"></i> عير مفعل</a></li>
									</ul>
									<div class="tab-content">
										<div id="tab-1" class="tab-pane active"
											style="height: 100vh !important">
											<div class="full-height-scroll">
												<div class="table-responsive">
													<table class="table table-striped table-hover">
														<tbody>
															<tr th:each="u : ${usersActive}">
																<td><a href="#company-1" class="client-link">[[${u.firstName}]]
																		[[${u.lastName}]]</a></td>
																 <td> [[${u.email}]] <i class="fa fa-address-book"></i></td>
                                                                 <td> [[${u.tel}]] <i class="fa fa-mobile"></i></td>
																<td class="client-status"><a
																	th:href="@{/Admin/change-state/{id}(id =${u.id} )}"><span
																		class="label label-danger">تجميد</span></a></td>
															</tr>

														</tbody>
													</table>

												</div>
											</div>
										</div>
										<div id="tab-2" class="tab-pane"
											style="height: 100vh !important">
											<div class="full-height-scroll">
												<div class="table-responsive">
													<table class="table table-striped table-hover">
														<tbody>
															<tr th:each="u : ${usersInactive}">
																<td><a href="#company-1" class="client-link">[[${u.firstName}]]
																		[[${u.lastName}]]</a></td>
																<td> [[${u.email}]] <i class="fa fa-address-book"></i></td>
                                                                 <td> [[${u.tel}]] <i class="fa fa-mobile"></i></td>
																<td class="client-status"><a
																	th:href="@{/Admin/change-state/{id}(id =${u.id} )}"><span
																		class="label label-primary">تفعيل</span></a></td>
															</tr>

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>


			</div>
			
				<div class="footer">
				<div class="float-right">
					<strong>موقع المواريث</strong>
				</div>
				<div class="float-left">
					<strong>جميع الحقوق محفوظة</strong> &copy; 2022-2023
				</div>
			</div>

			<!-- <div th:insert="Client/index :: footer"></div> -->

		</div>
	</div>
	<!-- Mainly scripts -->
	<script th:src="@{/js1/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js1/popper.min.js}"></script>
	<script th:src="@{/js1/bootstrap1.js}"></script>
	<script th:src="@{/js1/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js1/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js1/inspinia.js}"></script>
	<script th:src="@{/js1/plugins/pace/pace.min.js}"></script>

	<!-- jQuery UI -->
	<script th:src="@{/js1/plugins/jquery-ui/jquery-ui.min.js}"></script>

	<script th:inline="javascript">
 
    	   
     </script>
	<script>

    $(document).ready(function(){

        $(document.body).on("click",".client-link",function(e){
            e.preventDefault()
            $(".selected .tab-pane").removeClass('active');
            $($(this).attr('href')).addClass("active");
        });

    });

</script>
    <script>
        function updateUrl() {
            var selectElement = document.getElementById("ib7at");
            var selectedValue = selectElement.value;
            var buttonLinkElement = document.getElementById("button-link");
            buttonLinkElement.href = "/Admin/index.html" + selectedValue + "";
        }
    </script>


</body>

</html>