<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title> Admin - إدارة الرسائل </title>
	<link th:href="@{/css1/bootstrap.min1.css}" rel="stylesheet">
	<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet">
	<link th:href="@{/css1/plugins/bootstrap-rtl/bootstrap-rtl.min.css}" rel="stylesheet">
	<!-- Toastr style -->
	<link th:href="@{/css1/plugins/toastr/toastr.min.css}" rel="stylesheet">

	<!-- Gritter -->
	<link th:href="@{/js1/plugins/gritter/jquery.gritter.css}" rel="stylesheet">

	<link th:href="@{/css1/animate1.css}" rel="stylesheet">
	<link th:href="@{/css1/style1.css}" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="img1/law-favicon.png">
	<style>
	.hide-row {
	display: none;
}

.page {
	margin-left: 2px !important;
}

.hide {
	display: none;
}

.sk-spinner {
	position: fixed;
	z-index: 99999;
	overflow: show;
	margin: auto;
	top: 45%;
	left: 0;
	bottom: 0;
	right: 0;
}

.sk-spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

.placeholder-red::placeholder {
  color: red;
}

.placeholder-red::placeholder {
  color: red;
}
	</style>
</head>

<body class="rtls">
<div class="sk-spinner sk-spinner-wave hide">
		<div class="sk-rect1"></div>
		<div class="sk-rect2"></div>
		<div class="sk-rect3"></div>
		<div class="sk-rect4"></div>
		<div class="sk-rect5"></div>
	</div>

	<div id="wrapper">

		<nav class="navbar-default navbar-static-side" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav metismenu" id="side-menu">

					<li class="nav-header">
						<div class="dropdown profile-element">
							<a href="#"><img alt="logo" Style="background-color: #fff" class="rounded-circle" src="img1/logo-site.svg" width="100"
									height="100" /></a>
							<a data-toggle="dropdown" class="dropdown-toggle" href="#"> <span
									class="block m-t-xs font-bold">[[${#request.userPrincipal.principal.firstName}]]
									[[${#request.userPrincipal.principal.lastName}]]</span> <span
									class="text-muted text-xs block">Admin<b class="caret"></b></span>
							</a>
							<ul class="dropdown-menu animated fadeInRight m-t-xs" >
								<li class="dropdown-divider"></li>
								<li><a class="dropdown-item" th:href="@{/login}">تسجيل
										الخروج</a></li>
							</ul>
						</div>
						<div class="logo-element">
							<i class="fa fa-homee"></i>
						</div>
					</li>
                     <li ><a th:href="@{/Admin/index}"><i class="fa fa-home"></i> <span class="nav-label"> الرئيسية
								
								</span></a></li>
			
                      <li class="active"><a th:href="@{/Admin/messages}"><i class="fa fa-envelope"></i>
							<span class="nav-label">إدارة الرسائل </span></a></li>
							
				</ul>
			</div>
		</nav>
		<div id="page-wrapper" class="gray-bg dashbard-1">
			<div class="row border-bottom">
				<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
					<div class="navbar-header">
						<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
								class="fa fa-bars"></i> </a>
						<form role="search" class="navbar-form-custom" onsubmit="search(this,event)">
							<div class="form-group">
								<input type="search" placeholder="ابحث عن شيء ما..." class="form-control"
									name="top-search" id="top-search">
							</div>
						</form>
					</div>
					<ul class="nav navbar-top-links navbar-right">

						<li><a th:href="@{/login}"> خروج<i  class="fa fa-sign-out out"></i>
							</a></li>
					</ul>
				</nav>
				
			</div>
			<div class="wrapper wrapper-content animated fadeIn">
				<div class="row mb-2">
					<div class="col-lg-12" >
						<div class="ibox ">
							<div class="ibox-title">
								<h5>الرسائل  <strong> </strong></h5>
								<div class="ibox-tools">
									<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
							   <div class="row">
							    <div class="col-md-12">
								<div class="search-form">
								  <form id="ff" name="ff" th:action="@{/Admin/sendMessage{id}(id=nid)}" method="POST"  th:object="${message}" onsubmit="return validateForm()">
									<div class="row">
									  <div class="col-md-12">
											<div class="form-group row"><label class="col-sm-2 col-form-label">الزبون </label>
                                                <div class="col-sm-10">
                                               <input onclick="fct1()" list="users" name="user_idd" autocomplete="off" value="" onfocus="this.value=''" onchange="handleChange(this);" class="form-control form-control-sm mb-2" placeholder="---" id="inputFile">
												<datalist id="users" >
													<option th:each="user : ${users}" th:attr="data-value=${user.id}" th:value="${user.firstName+' '+user.lastName}"></option>
												</datalist>
                                                <input type="number" hidden="hidden" value="" name="user_id" id="ddd" />
                                                </div>
                                       </div>
												
										</div>
										<div class="col-md-12">
											<textarea onclick="fct2()" rows="4" class="form-control mb-2" cols="5" name="message"></textarea>
											<span id="messageError" style="display:none; color:red"> </span>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-primary m-b btn-block" id="btn-search">
												<i class="fa fa-send"></i> إرسال
											</button>
										</div>
									</div>
									</form>
								</div>
								<hr style=" border-top:1px solid #f1f1f1">
								</div>
								
								<div class="col-lg-12">
								 <div class="clients-list">
									<ul class="nav nav-tabs">
										<li><a class="nav-link active" data-toggle="tab"
											href="#tab-1"><i class="fa fa-envelope"></i> رسائل الزبناء</a></li>

									</ul>
									<div class="tab-content">
										<div id="tab-1" class="tab-pane active" style="height: 300px !important">
											<div class="full-height-scroll">
												<div class="table-responsive">
													<table class="table table-hover">
														<tbody>
															<tr th:each="inbox : ${inboxes}">
																<td><p class="text-justify">[[${inbox.message}]]</p></td>
																<td colspan="4"> <h3>[[${inbox.userName}]]</h3> </td>
																<td class="client-status" ><a
																	th:href="@{/Admin/delete-inbox{id}(id =${inbox.id} )}"><span
																		class="label label-danger">حذف</span></a></td>
															</tr>
															<tr th:if="${inboxes==null or inboxes.isEmpty()}">
															  <th> <h3 class="text-center" style="margin-top: 140px">ليس لديك اي رسالة  </h3> </th>
															</tr>
														</tbody>
													</table>

												</div>
											</div>
										</div>

									</div>
									 </div>
								</div>
								
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			
			</div>
			
		<!--	<div th:insert="Client/index :: footer"></div>-->

		</div>
	</div>
	<!-- Mainly scripts -->
	<script th:src="@{/js1/jquery-3.1.1.min.js}"></script>
	<script th:src="@{/js1/popper.min.js}"></script>
	<script th:src="@{/js1/bootstrap1.js}"></script>
	<script th:src="@{/js1/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js1/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

	<!-- Custom and plugin javascript -->
	<script th:src="@{/js1/inspinia.js}"></script>
	<script th:src="@{/js1/plugins/pace/pace.min.js}"></script>
	

	<!-- jQuery UI -->
	<script th:src="@{/js1/plugins/jquery-ui/jquery-ui.min.js}"></script>

	 <script th:inline="javascript">
   
    	  
     </script>
     
     <script th:src="@{/js1/api/fileNavigation.js}" type="text/javascript"></script>
 
	 <script th:src="@{/js1/api/search.js}" type="text/javascript"></script>

     
     <script type="text/javascript">
      function handleChange(element){
         element.blur();
         var va = $('#inputFile').val();
         var value = $('#users [value="' + va + '"]').data('value');
         $("#ddd").val(value);
       }

	</script>
	<script>
    function validateForm() {
    	
    	
  	  
        var inputFile = document.getElementById("inputFile");
        var message = document.getElementsByName("message")[0];

        if (inputFile.value== "" ) {
          inputFile.style.borderColor="red";
        return false;}
          
       if(message.value==""){
    	  message.style.borderColor="red";
    	  message.placeholder = "لم تكتب الرسالة";
    	 message.classList.add("placeholder-red");
    	  return false;
       }
        if (inputFile.value!= "" && message.value!= "") {
        	  var selectedCityId = document.getElementById("ddd").value;
        	  
        	    var formAction = document.forms.ff.getAttribute("action");
        	    var updatedAction = formAction.replace("nid", selectedCityId);
        	    document.forms.ff.setAttribute("action", updatedAction);
        	
        	
        	
        	return true;
        	  
        
        
        }}
</script>


	
	
	<script> 
function fct1(){
	document.getElementById("inputFile").style.borderColor="#e5e6e7";
	
}

function fct2(){
	document.getElementsByName("message")[0].style.borderColor="#e5e6e7";
	
}
</script>
</body>

</html>