<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/style_forgetPassw_ar.css">
<link th:href="@{/css1/plugins/bootstrap-rtl/bootstrap-rtl.min.css}" rel="stylesheet">
<link href="css/bootstrap.rtl.css" rel="stylesheet">
<link rel="stylesheet" href="font/material-design-iconic-font/css/material-design-iconic-font.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:text="#{message.resetPassword}"></title>
<style type="text/css">
    	@import url('https://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
    	*{
    		font-family: 'Droid Arabic Kufi';
    	}
    </style>
</head>
<body class="rtls">
<div class="wrapper" id="wrapper" style="background-image: url('img/bg-registration-form-2.jpg');">
    <div class="inner" id="ibox-content">
    <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
          </div>
    <a  th:href="@{/login}"><img th:src="@{/img1/justice-blue.png}" width="150" alt="Menu principal"  class="logologin" style="display: block;margin: 0 auto;padding-top: 20px;"/></a>
    <!--  <br/><br/> -->
     <h3 th:text="#{message.resetPassword}">reset</h3>
      <form action="#">
       <!-- <h3 th:text="#{message.resetPassword}">reset</h3> -->
       <div class="form-wrapper">
                    <label  th:text="#{label.user.email}">email</label>
                    <input class="form-control" id="email" name="email"  value="" />                  
                    <span id="emailError" class="form-wrapper-InputWrapper_explain"  style="display:none"></span>
                    <span id="emailValid" class="form-wrapper-InputWrapper_explain" style="display:none"></span>
                 </div> 
        <button class="btn btn-primary" type="submit" th:text="#{message.resetPassword}">reset</button>
      </form>
      
<a class="btn btn-default button1" th:href="@{/registration.html}" th:text="#{label.form.loginSignUp}">registration</a>
<a class="btn btn-default button1" th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>
    </div>
</div>
 <script src="js/jquery.js"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {
		resetPass(event);
    });
});

$("#email")
.mouseup(function() {
	$("#emailError").html("").hide();
	$("#emailValid").html("").hide();
  })
.mousedown(function() {
    	$("#emailError").html("").hide();
    	$("#emailValid").html("").hide();
});

function resetPass(event){
    event.preventDefault();	
    if($("#email").val() == ""){
    	$("#emailError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
    else{
    	if(!validateEmail($("#email").val())){
    		$("#emailValid").show().html(/*[[#{ValidEmail.user.email}]]*/);
        	return;
    	}
    	
    }
    $('#wrapper').children('.inner').toggleClass('sk-loading');
    var email = $("#email").val();
    $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
            window.location.href = serverContext + "login?message=" + data.message;
    })
    .fail(function(data) {
    	$('#wrapper').children('.inner').toggleClass('sk-loading');
    	if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
    });
    
    function validateEmail(email) 
    {
      var re = /^(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/;

      return re.test(email);
    }
}

$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
</script>
</body>

</html>