<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/style_login_ar.css">
<link th:href="@{/css1/plugins/bootstrap-rtl/bootstrap-rtl.min.css}" rel="stylesheet">
<link href="css/bootstrap.rtl.css" rel="stylesheet">
<link rel="icon shortcut" type="image/png" th:href="@{/img1/law-favicon.svg}">
<style>
.password-verdict{
color:#000;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:src="@{/resources/pwstrength.js}"></script>
<title th:text="#{message.updatePassword}">update password</title>
</head>
<body class="rtls">
<div sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')">
    <div class="wrapper" style="background-image: url('img/bg-registration-form-2.jpg');">
        <div class="inner">
       <a  th:href="@{/login}"><img th:src="@{/img1/justice-blue.png}" width="150" alt="Menu principal"  class="logologin" style="display: block;margin: 0 auto;padding-top: 5px;"/></a>
     <br/><br/>
            <form >
                <h3 th:text="#{message.resetYourPassword}">reset</h3>
                 <div class="form-wrapper">
                    <label  th:text="#{label.user.password}">password</label>
                    <input id="password" class="form-control" name="newPassword" value="" type="password" />
                    <span id="passwordError" class="form-wrapper-InputWrapper_explain1" style="display:none"></span>
                 </div>  
                <div class="form-wrapper">
                    <label  th:text="#{label.user.confirmPass}">confirm</label>
                    <input id="matchPassword" class="form-control" name="matchingPassword" value="" type="password" />
                    <span id="globalError" class="form-wrapper-InputWrapper_explain " style="display:none" th:text="#{PasswordMatches.user}"></span>
                    <span id="matchPasswordError" class="form-wrapper-InputWrapper_explain " style="display:none"></span>
                 </div> 
                <br/><br/>
                <button class="btn btn-primary" type="submit" onclick="savePass()" th:text="#{message.updatePassword}">submit</button>
            </form>
            
        </div>
    </div>
   
<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
    $('form').submit(function(event) {
        savePass(event);
    });
    $("#password")
    .mouseup(function() {
    	$("#passwordError").html("").hide();
      })
    .mousedown(function() {
        	$("#passwordError").html("").hide();
        	
    });
    
    $(":password").keyup(function(){
        if($("#password").val() != $("#matchPassword").val()){
            $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        }else{
            $("#globalError").html("").hide();
        }
    });
    
    options = {
            common: {minChar:8},
            ui: {
                showVerdictsInsideProgressBar:true,
                showErrors:true,
                errorMessages:{
                      wordLength: /*[[#{error.wordLength}]]*/,
                      wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                      wordSequences: /*[[#{error.wordSequences}]]*/,
                      wordLowercase: /*[[#{error.wordLowercase}]]*/,
                      wordUppercase: /*[[#{error.wordUppercase}]]*/,
                      wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                      wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
                    }
                }
        };
     $('#password').pwstrength(options);
});

function savePass(event){
    event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
    if($("#password").val() == ""){
    	$("#passwordError").show().html(/*[[#{champs.user}]]*/);
    	return;
    }
    if($("#matchPassword").val() == ""){
    	$("#matchPasswordError").show().html(/*[[#{champs.user}]]*/);
    	 $("#globalError").html("").hide();
    	return;
    }
    if($("#password").val() != $("#matchPassword").val()){
        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        return;
    }
    var formData= $('form').serialize();
    $.post(serverContext + "user/savePassword",formData ,function(data){
        window.location.href = serverContext + "login?message="+data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("InternalError") > -1){
        	window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else{
            var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
                $("#globalError").show().html(item.defaultMessage);
            });
            errors = $.parseJSON(data.responseJSON.error);
            $.each( errors, function( index,item ){
                $("#globalError").show().append(item.defaultMessage+"<br/>");
            });
        }
    });
}

</script>    
</div>
</body>

</html>